*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:"Lato";
    src: url(./font/Lato-Regular.ttf);    
}

body{
    font-family: "Lato";
}

.center{
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}


.header{
    display: flex;
    height: 75px;
    background-color:  #222; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 500px;
}

.button_of_header{
    display: none;
}



.top_content{
    
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 16px;    

}

.img_top{    
    max-width: 50%;
}

.top_stick{
    padding-top: 15px;
}



.h1_top{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 395px;
    height: auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.luxerios{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fashion{
    color: #F16D7F;    
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.icons_menu_top{     
    max-width: 1200px;   
    min-width: 360px; 
    padding-left: 10%;
    padding-right: 10%; 
    padding-top: 65px;   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 3em;      
    justify-items: center;
    margin: 50px auto 50px auto;
}

.icons_menu{    
    position: relative;    
}

.icons_menu_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 35%;      
}

.icons_menu_long{
    position: relative;
    grid-column: 1 / -1;
}

.icons_menu_content_long{
    position: absolute;
    width: auto;
    height: 100%;
    top: 45%;
    left: 45%;          
}

.img_icons_menu{
    max-width: 100%;    
}   

.img_accesories{
    max-width: 100%;
}

.img_accesories375{
    display: none;
}

.icons_menu_text{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin-left: 25px; 
    
}

.icons_menu_text_women{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin-left: 25px; 
    margin-left: 45px; 
    
}

.icons_menu_text_accesories{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
     
}

.h3_icons_menu{
    color: #F16D7F;    
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}






.part_one_top{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 95px;
}



.section_part_one_info{
    display: grid;       
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: auto;
    grid-gap:3em;
    justify-content: center;    
    margin: 50px auto 50px auto; 
    padding-left: 10%;
    padding-right: 10%; 

}



.po_1, .po_2, .po_3, .po_4, .po_5, .po_6{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.h2_part_one{
    color: #222;    
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p_part_one_top{
    color: #9F9F9F;    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.h4_part_one{
    color: #000;    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 24px;
}

.p_part_one{
    color: #5D5D5D;    
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 12px;
}

.price_part_one{
    color: #F16D7F;    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 18px;
}




@media (max-width:1440px) and (min-width:768px){  

    .header{
        max-width: 100%;
        gap: 300px;
    }


    .top_stick{
        padding-top: 15px;        
    }    
    
    
    .h1_top{
        max-width: 280px;
        height: auto;
        font-size: 44px;
    }
    
    .luxerios{
        font-size: 24px;        
    }
    
    .fashion{        
        font-size: 24px;        
    }


    .icons_menu_top{     
        max-width: 768px;   
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        grid-gap: 1em; 
        padding: 19px; 
        margin: 50px auto 50px auto;    
        
    }

    .img_icons_menu{
        max-width: 230px;        
    }    

    .icons_menu_content{
        position: absolute;
        width: auto;
        height: auto;
        top: 40%;
        left: 20%; 
    }

    .icons_menu_content_long{
        width: auto;
        height: auto;
        top: 35%;
        left: 40%;
    }

    .icons_menu_text{    
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .h3_icons_menu{    
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;        
    }   
    
    .icons_menu_content_long{
        position: absolute;
        width: auto;
        height: auto;
        top: 35%;
        left: 40%;          
    }




    .section_part_one_info{       
        gap: 16px;       
        margin: 50px 10px 50px 10px;
    } 


    
    
    .section_part_one_info{        
        grid-gap:10px;        
        justify-content: center;    
        margin: 70px auto 70px auto; 
        padding-left: 16px;
        padding-right: 16px; 
    
    }

    .img_part_one{
        max-width: 360px;
        max-height: auto;
    }    
    
    .po_1, .po_2, .po_3, .po_4, .po_5, .po_6{
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        
    }        

}





@media (max-width:767px) and (min-width:375px){

    .center{
        padding-left: calc(50% - 187px);
        padding-right: calc(50% - 187px);
    }


    .header{       
        gap: 125px;
    }


    .buttons_of_header{
        display: none;
    }

    .button_of_header{
        display: flex;
    }

    .top_content{        
        height: 370px;
        display: flex;
        justify-content: center;
    }

    .img_top{ 
        display: none;       
    }

    

    .top_stick{
        padding-top: 15px;        
    }    
    
    
    .h1_top{
        max-width: 280px;
        height: auto;
        font-size: 38px;
    }
    
    .luxerios{
        font-size: 20px;        
    }
    
    .fashion{        
        font-size: 20px;        
    }  


    .img_icons_menu{

        max-width: 360px;
        min-width: 343px;
        height: 247px;
    }

    .icons_menu_content{ 
        position: absolute;  
        width: auto;   
        height: auto;  
        /* top: 35%;
        left: 35%;       */

        
    }

    



    

    

    .img_accesories{
        display: none;
    }



    .icons_menu_text_accesories{
        display: none; 
     
    }

    .icons_menu_content_long{
        display: none;
    }


   
    
    


    .img_accesories375{    
        display: flex;
        max-width: 360px;
        min-width: 343.262px;
        height: 111px;
    }

    .icons_menu_text_women{
        margin: 0;
    
    }

    .icons_menu_text{
    
        margin-left: 0px; 
        margin-top: 10px;
    
    }   
    
    .po_1, .po_2, .po_3, .po_4, .po_5, .po_6{        
        padding: 15px;       
    } 

}

    

